* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "rawline-600", sans-serif;
}

body {
    background: url(../img/bgs/main-bg.png) center (center / contain) no-repeat;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    &__mashines {
        display: flex;
        flex-wrap: wrap;
    }
}

.header {
    height: 98px;
    background-color: #fff;
    padding: 25px 0 25px 0;

    &__inner {
        display: flex;
        align-items: center;
        div {
            width: 33.3%;
        }
        &_logo {
            display: inline-flex;
            justify-content: flex-start;
        }

        &_links {
            display: flex;
            justify-content: center;
            :nth-child(1) {
                margin-right: 34px;
            }
            a {
                text-decoration: none;
                color: #201e41;
                font-weight: 700;
            }
        }

        &_lang {
            display: inline-block;
            margin: 0 auto;
            margin-right: 36px;
            font-size: 16px;
            width: auto;
            border: none;
            color: #201e41;
            font-weight: 700;
        }
        &_login {
            margin-right: 38px;
            color: #201e41;
            text-decoration: none;
            font-weight: 700;
        }
        &_reg {
            width: 152px;
            height: 48px;
            border-radius: 24px;
            background-image: linear-gradient(to top, #7f42ff 0%, #b886ff 100%);
            border: none;
            padding: 0;
            margin: 0;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    &__links-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.main {
    text-align: center;
    padding: 93px 0 83px;
    &__container {
        max-width: 646px;
    }
    &__text {
        &_suptitle  {
            font-size: 18px;
            font-weight: 700;
            a {
                text-decoration: none;
                color: #652bd1;
            }

        }
        &_title {
            font-size: 44px;
            font-weight: 400;
            padding: 18px 0 28px;
        }
        &_subtitle {
            font-size: 17px;
            line-height: 32px;
            font-weight: 400;
        }
    
    }
    
}
.mashines {
    width: 380px;
    &__wrapper {
        width: 380px;
    }
}

.footer {
    max-height: 354px;
    background-color: #fff;
    padding: 98px 0 97px 0;
    &__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 700;
        color: #201e41;
            a {
                color: #201e41;
            }
        &_links {
            width: 380px;
            a {
                padding-right: 30px;
            }
            
        }
        &_logo {
            width: 380px;
            img {
                display: block;
                margin: 0 auto;
            }

        }
        &_lang {
            display: flex;
            justify-content: flex-end;
            min-width: 380px;
            a {
                margin: 0 42px 0 0;
            
            }
            a:last-child {
                margin-right: 0;
            }
        }
        &-line::before {
            content: '';
            display: block;
            width: 1140px;
            height: 2px;
            background-color: #e4e8f0;
            margin: 48px 0 18px 0;
        }
        &_tel {
            display: block;
            width: 100%;
            }
        &_email {
            display: block;
            min-width: 570px;
            margin: 28px auto 0 0;
        }
        &_place {
            display: block;
            margin: 31px 0 0 auto;
        }
    }
        
}





